.music-btn-one {
    background-color: #c25934;
    color: white;
    height: 2.7rem;
    width: 9.5rem;
    border: none;
    border-radius: .5rem;
    font-weight: 700;
}

.music-btn-one:hover {
    background-color: #0c4b65;
    transition: all .3s ease;
}

.music-btn-two {
    background-color: #efcf4f;
    color: white;
    height: 2.7rem;
    width: 8rem;
    border-radius: .5rem;
    border: none;
}

.color-one {
    color: #c25934;
}

.color-two {
    color: #0c4b65;
}

.ml-service-heading-first {
    font-weight: 700;
}

.ml-service-heading-second {
    font-weight: 700;
}

@media only screen and (max-width: 688px) {
    .ml-service-heading-second {
        font-size: 20px;
    }

    .ml-service-paragraph {
        font-size: 13px;
    }
}