.ml-icons-social i {
    margin-right: 1rem;
    color: rgb(235, 208, 142);
    cursor: pointer;
}

.ml-small {
    color: white;
}

footer {
    background-color: #0c4b65;
    height: 25rem;
}

.ml-heading {
    color: goldenrod;
    font-weight: 800;

}

.ml-icons-contact {
    color: goldenrod;
}

@media only screen and (max-width: 688px) {
    footer {
        height: 37rem;
    }
}